@{
    ViewData["Title"] = "Home";
}
@model IEnumerable<string>

<div class="text-center">
    <h1 class="display-4">Drew's Recomendations</h1>
</div>
<br />
<div class="cards">
    @foreach (string r in Model)
    {
        <div class="card">
            <div class="card-content">
                @Html.Raw(r)  
            </div>
        </div>
    }
</div>

